<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>En maintenance</title>
<style>
	html {
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	*{
		margin:0 auto;
	}
	body{
		background-color:#ececec;
		font-size:15px;
		font-family:Arial, Helvetica, sans-serif;
		padding:0 10px;
		min-width:320px;
	}
	.message{
		background-color:#ffffff;
		padding: 30px 90px;
		margin:40px auto 0;
		max-width:750px;
	}
	h1{
		font-size:24px;
		color:#eb651c;
		text-transform:uppercase;
		font-weight:normal;
	}
	h2{
		font-size:15px;
		font-weight:bold;
		margin:0 0 30px;
		padding-bottom:30px;
		border-bottom:1px solid #ececec;
	}
	p{
		padding:0 8%;
		margin-top:1em;
	}
	p.signature{
		text-align:right;
		font-style:italic;
		padding-bottom:30px;
		margin-bottom:30px;
		border-bottom:1px solid #ececec;
	}
	.btn{
		display:inline-block;
		padding:10px 15px;
		font-weight:bold;
		text-decoration:none;
		color:#fff;
		background-color:#eb651c;
	}
	.btn:hover, .btn:focus{
		opacity:0.8;
	}
	.btn:before{
		content:"\25B8";
		padding-right:5px;
	}
	@media only screen and (max-width: 500px) {
		.message{
			padding:30px;
		}
		p{
			padding:0;
		}
	}
</style>
</head>

<body>

<div class="message">
	<h1>Momentanément indisponible</strong></h1>
	<h2>Merci de réessayer ultérieurement.</h2>
	<p>Bonjour,</p>
	<p>Pour vous apporter une meilleure qualité de service, notre équipe réalise des travaux de maintenance.</p>
	<p>Nous vous prions d’accepter nos excuses pour la gêne occasionnée.</p>
	<p>Merci de votre patience et de votre confiance.</p>
	<p>Très cordialement</p>
</div>

</body>
</html>