{% extends "layout.twig" %}

{% block head %}
	<title>Le film.fr</title>
	<link rel="stylesheet" href="/assets/css/form.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<script type="text/javascript" src="/assets/js/jquery.maskedinput.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.magnific-popup.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="grid">
        <div class="row row-film">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <a href="film/divergente-2.php" alt="Divergente 2" title="Divergente 2">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/divergente2.jpg');">
                            <section class="film-infos">
                                <h2>Divergente 2</h2>
                                <p>
                                    <span>Science-fiction</span>
                                    <span>2015</span>
                                    <span>1h59</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/oblivion.jpg');">
                            <section class="film-infos">
                                <h2>Oblivion</h2>
                                <p>
                                    <span>Science-fiction</span>
                                    <span>2014</span>
                                    <span>2h41</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <a href="film/interstellar.php" alt="Interstellar" title="Interstellar">
                            <div class="film-wrapper" style="background-image: url('/images/dummy/interstellar.jpg');">
                                <section class="film-infos">
                                    <h2>Interstellar</h2>
                                    <p>
                                        <span>Science-fiction</span>
                                        <span>2014</span>
                                        <span>3h02</span>
                                    </p>
                                    <div class="film-play">
                                        <button><i class="fa fa-play"></i></button>
                                    </div>
                                </section>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/quantum-of-solace.jpg');">
                            <section class="film-infos">
                                <h2>Quantum of Solace</h2>
                                <p>
                                    <span>Action</span>
                                    <span>2011</span>
                                    <span>2h23</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <a href="film/ted-2.php" alt="Ted 2" title="Ted 2">
                            <div class="film-wrapper" style="background-image: url('/images/dummy/ted.jpg');">
                                <section class="film-infos">
                                    <h2>Ted</h2>
                                    <p>
                                        <span>Comédie</span>
                                        <span>2012</span>
                                        <span>1h16</span>
                                    </p>
                                    <div class="film-play">
                                        <button><i class="fa fa-play"></i></button>
                                    </div>
                                </section>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/simpson.jpg');">
                            <section class="film-infos">
                                <h2>Les Simpsons</h2>
                                <p>
                                    <span>Aventure</span>
                                    <span>2010</span>
                                    <span>1h38</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-film">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper" style="background-image: url('/images/dummy/fast_and_furious.jpg');">
                        <section class="film-infos">
                            <h2>Fast and Furious</h2>
                            <p>
                                <span>Course</span>
                                <span>2008</span>
                                <span>1h35</span>
                            </p>
                            <div class="film-play">
                            <button><i class="fa fa-play"></i></button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/oblivion.jpg');">
                            <section class="film-infos">
                                <h2>Oblivion</h2>
                                <p>
                                    <span>Science-fiction</span>
                                    <span>2014</span>
                                    <span>2h41</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/interstellar.jpg');">
                            <section class="film-infos">
                                <h2>Interstellar</h2>
                                <p>
                                    <span>Science-fiction</span>
                                    <span>2014</span>
                                    <span>3h02</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/quantum-of-solace.jpg');">
                            <section class="film-infos">
                                <h2>Quantum of Solace</h2>
                                <p>
                                    <span>Action</span>
                                    <span>2011</span>
                                    <span>2h23</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/ted.jpg');">
                            <section class="film-infos">
                                <h2>Ted</h2>
                                <p>
                                    <span>Comédie</span>
                                    <span>2012</span>
                                    <span>1h16</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <div class="film-wrapper">
                        <div class="film-wrapper" style="background-image: url('/images/dummy/simpson.jpg');">
                            <section class="film-infos">
                                <h2>Les Simpsons</h2>
                                <p>
                                    <span>Aventure</span>
                                    <span>2010</span>
                                    <span>1h38</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="load-more">
        <button><i class="fa fa-spinner"></i>En voir plus</button>
    </div>
{% endblock %}