<html>
	<head>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
	</head>

	<body>
		<div id="content">{% block content %}{% endblock %}</div>

		<div id="footer">
			{% include "_footer.twig" %}
		</div>
	</body>
</html>